.footer-container{
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    flex-wrap: wrap;
    padding: 8rem 0;
    background-color: #070d1a;
    color: #ffffff;
    li{
        list-style-type: none;
    }
}