.main-container{
    padding: 30vh 0 10vh 0;
    display: grid;
    .container-card{
        height: 80vh;
        width: 55%;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:2rem;
        .input-amount{
            border: none;
            font-size: 20px;
            color: #000;
            border-bottom: 1px dashed #ff8282;
            width: 100%;
            outline: none;
            align-self: center;
            display: flex;
            height: 2rem;
        }
        .swap-btn{
            background-color: transparent;
            border:2px solid #fe0000;
            overflow: hidden;
            padding: 10px 50px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top:50px;
            align-self: center;
        }
        .swap-btn:hover{
            background-color: #fe0000;
            color: white;
            cursor: pointer;
        }
        .erc-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            .erc-balance-container{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px dashed #ff8282;
                h2{
                    font-weight: 400;
                }
            }
            .input-main-container{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .arrow-icon{
                    padding-bottom: 0.5rem;
                }
                .input-container{
                    display: flex;
                    flex-direction: column;
                    font-weight: 400;
                    font-size: 1.5rem;
                }
            }
        }
        .bep-container{
            height: 100%;
        }
    }
}