.nav-bar{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    align-items: center;
    position: fixed;
    top: 0;
    .nav-container{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        li{
            list-style-type: none;
        }
    }
}